<div class="container mt-4">
    <div class="card">
      <h1>Student Registration</h1>
      <form>
        <div class="form-group">
          <label>Student Name</label>
          <input type="text" [(ngModel)]="stname" [ngModelOptions]="{ standalone: true }" class="form-control" id="stname" placeholder="Enter Name">
        </div>
  
        <div class="form-group">
          <label>Course</label>
          <input type="text" [(ngModel)]="course" [ngModelOptions]="{ standalone: true }" class="form-control" id="course" placeholder="Enter Course">
        </div>
  
        <div class="form-group">
          <label>Fee</label>
          <input type="text" [(ngModel)]="fee" [ngModelOptions]="{ standalone: true }" class="form-control" id="fee" placeholder="Enter Fee">
        </div>
  
        <button type="submit" class="btn btn-primary mt-4" (click)="save()">Save</button>
        <button type="submit" class="btn btn-secondary mt-4" routerLink="/listar">Listar</button>
      </form>
    </div>

  